* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

.main-window{
    /* background-image : url('images/1K6A0514.webp'); */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.image_about_1{
    /* position: absolute; */
    /* width: 31%; */
    width: 100%;
}
.image_about_2{
    /* position: absolute; */
    /* width: 28%; */
    /* left: 17%; */
    /* top: 53%; */
    width: 100%;
}
.image_about_3{
    /* position: absolute; */
    /* width: 31%; */
    /* left: 31%; */
    width: 100%;
}

.main-window-about{
    background-color : #f1ffee;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-color{
    color: #00733d;
    font-size: 35px;
    font-weight: bold;
}

.slide_css{
    width: 50% !important;
    text-align: end;
    background-color: #fff;
    background-clip: text;
}

.col-signup{
    background-color: #198754;
    color: #fff;
    padding: 5%;
}

.cool-image {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }

  .cool-image:hover {
    transform: scale(1.05);
  }

  .cool-image img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .cool-image:hover img {
    filter: grayscale(0%);
  }