{% extends "base.html" %}
{% block title %} VubaVuba-Dashboard {% endblock %}
{% block content %}
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    <div class="row">
        <!-- left side -->
        <div class="col-2">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" >
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a href="/dashboard" class="nav-link active" aria-current="page">
                      Dashboard
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/settings" class="nav-link link-dark">
                      Settings
                    </a>
                  </li>
                </ul>
                <hr>
          </div>
        </div>
        <!-- end left side -->

        <!-- right side -->
        <div class="col-8">
          <div class="row">
              <div class="col">
                <h4>Your orders</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Order Id</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total Price</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if orders %}
                    {% for order in orders %}
                      <tr>
                          <td>{{order.created_at}}</td>
                          <td>{{order.order_id}}</td>
                          <td>{{order.quantity}}</td>
                          <td>{{order.total_price}} RWF</td>
                          <td>{{order.status}}</td>
                      </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
          </div>
        </div>
        <!-- end right side -->
    </div>
{% endblock %}
