{% extends "base.html" %}
{% block title %} VubaVuba-SignUp {% endblock %}

{% block content %}
    <!-- signUp form -->
    <div class="row justify-content-around"  style="margin-right: 0px;margin-left: 0px;">
      <div class="col-md-4 m-5">
        <form action="/signUp" method="POST">
          <div class="col-signup">
            <div class="text-center mb-3">
              <h3>SignUp With VubaVuba</h3>
            </div>
            <div class="mb-3">
              <label for="Email_signUp" class="form-label">Email address</label>
              <input type="email" value="" class="form-control" id="Email_signUp" name="Email_signUp" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="Passowrd_signUp" class="form-label">Password</label>
              <input type="password" class="form-control" id="Passowrd_signUp" name="Passowrd_signUp" placeholder="Passowrd">
            </div>
          </div>
          <div class="mb-3 text-center mt-4">
            <button class="btn btn-success" type="submit">Register</button>
          </div>
        </form>
      </div>
</div>
{% endblock %}
